<div id="admin_bar">
	{seteditable}
	<div id="admin_content">
		<div id="editfunctions">

			<div id="editthis" class="admin_link">
				Edit This
			</div>

		</div> <!-- /editfunctions -->

		<div id="deletethis" class="admin_link">
			Delete This
		</div>

		<div id="newpage" class="admin_link">
			Create New
		</div>

		<div id="upload" class="admin_link">
			Upload File
		</div>

		<div id="bannersettings" class="admin_link">
			Alert Banner
		</div>

		<div id="signout" class="admin_link">
			Disable Admin
		</div>
		<img src="/static/image/list.png" class="gcs_dir"/>
		<img src="/static/image/info.png" class="info"/>
	</div> <!-- /admin_content -->

<script src="/static/script/adminFunctions.js"></script>
<script type="text/javascript">
	$(document).ready(function(){{
		$('head').append('<link rel="stylesheet" type="text/css" href="/static/style/admin_bar.css">');
	}});
</script>
</div> <!-- /admin -->

