</div><!--End of #main -->
</div><!--End of #page-wrapper --> 
<div id="footer">
<div class="footer-nav">
<h3>Navigation</h3>
<ul>
<li><a href="/about">About</a></li>
<li><a href="/">Home</a></li>
<li><a href="/store">Store</a></li>
<li><a href="/rentals">Rentals</a></li>
<li><a href="/repairs">Repairs</a></li>
<li><a href="/events">Events</a></li>
<li><a href="/contact">Contact</a></li>
</ul>
</div>
<div class="footer-quick-links">
<h3>Quick Links</h3>
<ul>
<li><a href="/lessons/schedule/changerequest">Change a Lesson</a></li>
<li><a href="/lessons">Lessons FAQ</a></li>
<li><a href="/lessons/policies">Lessons Policies</a></li>
<li><a href="/contact#closings">Holiday Closings</a></li>
<li>&nbsp;</li>
<li><a href="/contact#hours">Hours</a></li>
<li><a href="/contact#directions">Directions</a></li>
</ul>
</div>
<div class="footer-newsletter">
<h3>Sign Up For Our Newsletter</h3>
<form id="footer-newsletter-signup" method="GET" name="newsletter" action="javascript:void(0);">
<input name="email" class="footer-newsletter-email" type="email" value="ENTER EMAIL">
<input class="btn-submit-red footer-newsletter-submit" type="submit" value="SUBMIT &gt;">
</form>
</div>
<div class="footer-social">
<h3>Social</h3>
<a href="https://www.facebook.com/rocketeria" target="_blank"><input type="button" class="btn-facebook-black footer-social-push" /></a>
<a href="https://twitter.com/therocketeria" target="_blank"><input type="button" class="btn-twitter-black" /></a>
<a href="http://instagram.com/therocketeria" target="_blank"><input type="button" class="btn-instagram-black" /></a>
<a href="https://www.youtube.com/user/TheRocketeria" target="_blank"><input type="button" class="btn-youtube-black" /></a>
</div>
</div><!--End #footer -->
{admin_bar} 
</body>
<script>
  (function(i,s,o,g,r,a,m){{i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){{
  (i[r].q=i[r].q||[]).push(arguments)}},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  }})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-54353804-1', 'auto');
  ga('send', 'pageview');

</script>
</html>
