<div id="slides">
  <div>
    <img src="/static/image/billboard-repairs-1.png" width="696" height="285" />
    <div class="billboard-content">
      <h2 class="billboard-header-yellow">Repairs</h2>
      <br />
      <p>You&#39;d be amazed at how much<br />
      better your instrument plays and<br />
      feels after a little TLC from our<br />
      repairs department.
      <br />
      <a class="billboard-link-2 btn-submit-yellow" href="/repairs">Learn more &gt;</a></p>
    </div>
  </div>
</div> 

<script id="slides-content" type="text/html">
  <div>
    <img src="/static/image/billboard-repairs-1.png" width="696" height="285" />
    <div class="billboard-content">
      <h2 class="billboard-header-yellow">Repairs</h2>
      <br />
      <p>You&#39;d be amazed at how much<br />
      better your instrument plays and<br />
      feels after a little TLC from our<br />
      repairs department.
      <br />
      <a class="billboard-link-2 btn-submit-yellow" href="/repairs">Learn more &gt;</a></p>
    </div>
  </div>
  <div>
    <img src="/static/image/billboard-rocku-1.png" width="696" height="285" />
    <div class="billboard-content">
      <h2 class="billboard-header-green">Summer Program</h2>
      <br />
      <p>A week-long music immersion<br />
      band experience<br />
      for 5th through 12th graders
      <br />
      <a class="billboard-link-1 btn-submit-yellow" href="/lessons/options/rock-u">Learn more &gt;</a></p>
    </div>
  </div>
  <div>
    <img class="billboard-image" src="/static/image/billboard-lessons-1.png" width="696" height="285" />
    <div class="billboard-content">
      <h2 class="billboard-header-green">Music Lessons</h2>
      <br />
      <p>Rocketeria provides a selection of instructional choices to fit your aspirations, schedule and budget.<br />
      <a class="billboard-link-1 btn-submit-yellow" href="/lessons">Learn more &gt;</a></p>
    </div>
  </div>
  <div>
    <img src="/static/image/billboard-jam-1.png" width="696" height="285" />
    <div class="billboard-content">
      <h2 class="billboard-header-green">Jam Groups</h2>
      <br />
      <p>Put your skills to work as<br />
      part of a band and perform.<br />
      Join a Jam Group today.
      <br />
      <a class="billboard-link-1 btn-submit-yellow" href="/lessons/options/jam-groups">Learn more &gt;</a></p>
    </div>
  </div>
  <div>
    <img src="/static/image/billboard-vinyl-1.png" width="696" height="285" />
    <div class="billboard-content">
      <h2 class="billboard-header-red">We Buy Vinyl</h2>
      <br />
      <p>Bring your records in for<br />
      cash or trade.<br />
      <br />
      We also stock new vinyl.
      <br />
      <a class="billboard-link-2 btn-submit-yellow" href="/store/vinyl">Learn more &gt;</a></p>
    </div>
  </div>
  <div>
    <img src="/static/image/billboard-lessons-2.png" width="696" height="285" />
    <div class="billboard-content">
      <h2 class="billboard-header-green">Music Lessons</h2>
      <br />
      <p>Does your sibling wanna rock too?<br />
      Rocketeria offers family discounts.
      <a class="billboard-link-1 btn-submit-yellow" href="/lessons">Learn more &gt;</a></p>
    </div>
  </div>
  <input type="button" class="slidesjs-previous slidesjs-navigation arrow-previous" />
  <input type="button" class="slidesjs-next slidesjs-navigation arrow-next"/>
</script>

 <script type="text/javascript">
    $(document).ready(function() {{ 
      $.getScript(
        "/static/script/jquery.slides.js", 
        function() {{
          $('#slides').html( $('#slides-content').html() ); 
          $(document).ready(function() {{

            $(".arrow-next").mouseenter(function() {{
              $(this).css("background", "url('/static/image/a03.png') -186px -35px no-repeat");
            }})
            .mouseleave(function(){{
              $(this).css("background", "url('/static/image/a03.png') 55px -35px no-repeat");
            }});
            $(".arrow-next").mousedown(function() {{
              $(this).css("background", "url('/static/image/a03.png') -66px -35px no-repeat");
            }})
            .mouseup(function() {{
              $(this).css("background", "url('/static/image/a03.png') -186px -35px no-repeat");
            }});
            $(".arrow-previous").mouseenter(function() {{
              $(this).css("background", "url('/static/image/a03.png') -125px -35px no-repeat");
            }})
            .mouseleave(function() {{
              $(this).css("background", "url('/static/image/a03.png') 55px -35px no-repeat");
            }});
            $(".arrow-previous").mousedown(function() {{
              $(this).css("background", "url('/static/image/a03.png') -5px -35px no-repeat");
            }})
            .mouseup(function() {{
              $(this).css("background", "url('/static/image/a03.png') -125px -35px no-repeat");
            }});

            $("#slides").slidesjs({{
              play: {{
                active: false,
                // [boolean] Generate the play and stop buttons.
                // You cannot use your own buttons. Sorry.
                effect: "slide",
                // [string] Can be either "slide" or "fade".
                interval: 6000,
                // [number] Time spent on each slide in milliseconds.
                auto: true,
                // [boolean] Start playing the slideshow on load.
                swap: true,
                // [boolean] show/hide stop and play buttons
                pauseOnHover: false,
                // [boolean] pause a playing slideshow on hover
                restartDelay: 2500
                // [number] restart delay on inactive slideshow
              }},
              pagination: {{
              active: false,
              effect: "slide"
              }},
              navigation: {{
                active: true,
                // [boolean] Generates next and previous buttons.
                // You can set to false and use your own buttons.
                // User defined buttons must have the following:
                // previous button: class="slidesjs-previous slidesjs-navigation"
                // next button: class="slidesjs-next slidesjs-navigation"
                effect: "slide"
                // [string] Can be either "slide" or "fade".
              }},
              width: 696,
              height: 285,
              start: 1
            }});
          }});
        }}
      );
    }});
  </script>

<div class="home-newsletter">
<div class="newsletter-signup">
<h3>Sign up for our Newsletter</h3>
<form id="billboard-newsletter-signup" method="GET" name="newsletter" action="javascript:void(0);">
<!-- 
  HTTP GET to /api-proxy-pub provides links for things someone *might* have submitted a form for.
  This is an awk. way to handle noscript cases. To be remedied in future enhancements.
-->
<input name="email" class="newsletter-email" type="email" required="required" value="ENTER EMAIL"><br />
<input class="btn-submit-yellow newsletter-submit" type="submit" value="SUBMIT >"></a><br />
</form>
<p class="newsletter-tag">No spam, just rock</p>
</div>
<div class="newsletter-social">
<h3>Social</h3>
<a href="https://www.facebook.com/rocketeria" target="_blank"><input type="button" class="btn-facebook-red" /></a>
<a href="https://twitter.com/therocketeria" target="_blank"><input type="button" class="btn-twitter-red" /></a>
<a href="http://instagram.com/therocketeria" target="_blank"><input type="button" class="btn-instagram-red" /></a>
<a href="https://www.youtube.com/user/TheRocketeria" target="_blank"><input type="button" class="btn-youtube-red" /></a>
</div>
</div>
<div class="clear"></div>
<img class="separator" src="/static/image/separator.png" width="960px" height="16px" />
<div class="home-bottom">
<div class="home-store">
<a href="/store"><h3>Store &gt;</h3></a>
<p>Musical Instruments,<br />
Accessories &amp; Supplies </p>
</div>
<div class="home-lessons">
<a href="/lessons"><h3>Lessons &gt;</h3></a>
<p>Private, Group &amp; Jams</p>
</div>
<div class="clear"></div>
<div class="home-rentals">
<a href="/rentals"><h3>Rentals &gt;</h3></a>
<p>School Band Instruments &amp; Sound Systems</p>
</div>
<div class="home-events">
<a href="/events"><h3>Events &gt;</h3></a>
<p>Concerts, Clinics &amp; Recitals</p>
</div>
<div class="home-testimonials">
<a href="/testimonials"><h3>Testimonials</h3></a>
<p class="home-testimonials-content">"{random_quote}"</p>
</div>
</div><!--End of .home-bottom -->
