<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">

<html>
<head>
<title>dotBiz Infrastructure</title>
<link href="/static/style/fonts/stylesheet.css" type="text/css" rel="stylesheet">
<link href="/static/style/rocketeria.css" type="text/css" rel="stylesheet">
<link rel="stylesheet" href="/static/style/alert_banner.css">
</head>
<body style="background:none !important;">
<div id="banner" class="blue_bg stripe alert" style="margin: 0 !important; min-height: 100%;">
Welcome To
<h2>dotBiz Infrastructure (&#946;)</h2>
on
<h2>SCMS for GAE</h2>
<br/>
Authenticated As:<br/>
{nickname}@dotBiz-{environment}-{version} 
<br/>
<br/>
Credits:<br/>
<br/>
Pat Sesko &bull; Front-End Design<br/>
Greg Englar &bull; Client-Side Development<br/>
Kyle Steely &bull; Server-Side Development<br/>
<br/>
[ <a href="https://github.com/modalexii/Rocketeria/tree/master/dotBiz" target="_blank">Browse Source Code</a> ]
<br/>
[ <a href="https://github.com/modalexii/Rocketeria/issues" target="_blank">Submit A Bug</a> ]
<br/>
<br/>
<img src="/static/image/walking-penguin.gif">
</div>
</body>
</html>
