<noscript>
<br/>
<h2>Looks like your browser has Javascript disabled.</h2>
<p>
<b>The information you provided was submitted</b>, but without javascript, we can't confirm that it was received and processed without error.
</p>
<br/>
<p>
If you own the computer that you're using right now and want to enable Javascript, <a href="http://enable-javascript.com/" target="_blank">click here to learn how</a>.
</p>
<br/>
<p>
If you are using someone else's computer or want to leave Javascript disabled, here are some links that do not require javascript:
</p>
<br/>
<p>
<ul>
<li><a href="/">Return to Home page</a></li>
<li><a href="http://visitor.r20.constantcontact.com/manage/optin/ea?v=001Vzv-UqW3G56TS4HpjB5lNw%3D%3D" target="_blank">Sign up for our mailing list</a></li>
</ul>
</p>
</noscript>
I love fools' experiments. I am always making them.