/*
bo-master.css
applies to /static/backoffice.html and /static/teacherview.html
*/

html,body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

iframe {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

.button {
	color: #333;
	cursor: pointer;
	margin-left: 10px;
	margin-top: 0px;
	padding-top: 35px;
	background: url(/static/style/logout.png) no-repeat center; 
	border: none;
}

#logout {
	position: fixed;
	display: none; /*changed to "inline" by JS */
}
