/**************************** CSS Reset  ****************************/
/*html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
*/
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body{line-height:1;}
ol,ul{list-style:none;}
blockquote,q
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
a{color:#487697;text-decoration:none;}
:focus{outline:0;}
ins{text-decoration:none;}
del{text-decoration:line-through;}
table{border-collapse:collapse;border-spacing:0;}

/**************************** General ****************************/
a:hover{text-decoration:none;}
p{color:#333;font-size:11px;}
/*body{font-family:Lucida Grande;background:#fff;}*/

/**************************** Calendar ****************************/
#calendar{
	margin: 0 auto;
	margin-right: auto;
	margin-left: auto;
	min-width: 100%;
	text-align: center;
  	position: relative;
}
#calheader{
	width:100%;
	height:30px;
	text-align:center;
}
#calheader h2{
	margin-top:15px;
}
#calcontainer{
	min-width: 100%;
	margin-bottom:10px;
}
#daysmonth{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	clear:both;
}
.dayweek{width:137px;float:left;border-left:1px solid #e5e5e5;}
.dayweek p{display:block;text-align:center;}
.week{overflow:auto;border-top:1px solid #c2c2c2;}
.weeku{overflow:auto;border-top:1px solid #c2c2c2;border-.open input[type=radio] + labelbottom:1px solid #e5e5e5;}
.today{background:#FCF7C0;border-left:1px solid #e5e5e5;}
.today .daybar p{font-weight:bold;}
.day{width:137px;float:left;border-left:1px solid #e5e5e5;border-left:1px solid #e5e5e5;}
.brn{}
.bun{border-bottom:none;}
.day:hover{background:#e9f0f8;cursor:pointer;}
.daybar{width:100%;background:#F7BD20;}
.daybar p{padding:3px !important;margin-top:0px;font-size:10px;font-weight:400;color:#333;}
.dots{padding:0 !important;width:100%;height:35px;clear:both;}
.dots ul{padding:0 !important;text-align:center;white-space:nowrap;overflow:hidden;}
.dots ul li{display:inline-block;width:auto;min-width:12px;height:auto;min-height:12px;padding:3px;color:#FFF;}
.big{width:137px;float:left;}
.big:hover{background:#e9f0f8;cursor:pointer;}
.big .dots{height:65px;}
.big .dots li{margin-top:25px;}

/**************************** Events when slide is open ****************************/
.open{height:auto;width:100%;float:left;clear:both;}
.open ul{padding:0 !important;}
/*.open li{margin-left:1px;margin-right:1px;}*/
.open li p{margin: 2px;color:#ffffff;overflow:hidden;}
.open li:hover{cursor:pointer;background:#F7BD20;}

/**************************** Colors ****************************/
.none{background:#d6d6d6;}
.none:hover{background:#dfdfdf;}
.blue{background:#5496dd;}
.blue:hover{background:#5c9ef9;}
.red{background:#962320;}
.red:hover{background:#962320;}
.yellow{background:#ffac4d;}
.yellow:hover{background:#ffbd6a;}
.green{background:#00D103;}
.green:hover{background:#F7BD20;}
.green input[type="radio"]:checked {
	background:#F7BD20;
}