<script src="/static/script/ckeditor/ckeditor.js"></script>
<script src="/static/script/admin_functions.js"></script>

<div id="admin_bar">
	{seteditable}
	<div id="admin_content">
		Welcome, {nickname}!

		<div id="editfunctions">

			<div id="editthis" class="admin_link">
				Edit This Page
			</div>

		</div> <!-- /editfunctions -->

		<div id="deletethis" class="admin_link">
			Delete This Page
		</div>

		<div id="newpage" class="admin_link">
			Create New Page
		</div>

		<div id="upload" class="admin_link">
			Upload Image/File
		</div>

		<div id="bannersettings" class="admin_link">
			Manage Alert Banner
		</div>

		<div id="signout" class="admin_link">
			Disable Admin Controls
		</div>
	</div> <!-- /admin_content -->

</div> <!-- /admin -->

