<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">

<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 11)|!(IE)]><!--> <html> <!--<![endif]-->


<head>
	<script>
	    if (document.documentMode===10){
	        document.documentElement.className+=' ie10';
	    }
	    else if (document.documentMode===11){
	        document.documentElement.className+=' ie11';
	    }
	</script>
	<title>Alert Banner Settings</title>
	<link href="/static/style/fonts/stylesheet.css" type="text/css" rel="stylesheet">
	<link href="/static/style/rocketeria.css" type="text/css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/static/script/datetimepicker/jquery.datetimepicker.css"/ >
	<link rel="stylesheet" href="/static/style/alert_banner.css"/ >
	<style type="text/css">
		body {
			background: none !important;
		}
		.right {
			text-align: right;
		}
		#post, #cancel {
			padding: 5px;
			text-align: center;
		}
		#post:hover, #cancel:hover {
			cursor: pointer;
			font-weight: bold;
		}
	</style>
</head>
	<body>
		<h2>Alert Banner Settings</h2>
		Edit banner text and appearance below
		<div id="banner" class="stripe alert purple_bg" style="margin-bottom: 12px;" contenteditable>
			Rocketeria will be closed today due to inclement weather.
		</div>
		<table>
			<tr>
				<td class="right">
					State:
				</td> 
				<td>
					<input id="on" type="radio" value="on" name="state" checked>
					<label for="on">On</label>
				</td>
				<td>
					<input id="off" type="radio" value="off" name="state">
					<label for="off">Off</label>
				</td>
				<td colspan=4> 
				</td> 
			</tr>
			<tr>
				<td class="right">
					Background:
				</td>
				<td>
					<input id="purple_bg" type="radio" value="purple_bg" name="banner_color" checked>
					<label for="purplr_bg">Purple</label>
				</td>
				<td>
					<input id="red_bg" type="radio" value="red_bg" name="banner_color">
					<label for="red_bg">Red</label>
				</td>
				<td>
					<input id="yellow_bg" type="radio" value="yellow_bg" name="banner_color">
					<label for="yellow_bg">Yellow</label>
				</td>
				<td>
					<input id="blue_bg" type="radio" value="blue_bg" name="banner_color">
					<label for="blue_bg">Blue</label>
				</td>
				<td>
					<input id="green_bg" type="radio" value="green_bg" name="banner_color">
					<label for="green_bg">Green</label>
				</td>
				<td>
					<input id="plain_bg" type="radio" value="plain_bg" name="banner_color">
					<label for="plain_bg">Plain</label>
				</td>
			</tr>
			<tr>
				<td class="right">
					Text:
				</td>
				<td>
					<input id="white_txt" type="radio" value="white_txt" name="text_color" checked>
					<label for="white_txt">White</label>
				</td>
				<td>
					<input id="black_txt" type="radio" value="black_txt" name="text_color">
					<label for="black_txt">Black</label>
				</td>
				<td>
					<input id="red_txt" type="radio" value="red_txt" name="text_color">
					<label for="red_txt">Red</label>
				</td>
				<td colspan=3> 
				</td> 
			</tr>
			<tr>
				<td class="right">
					Expire On:
				</td> 
				<td colspan=6>
					<input id="datetimepicker" name="expire" type="text" />  (blank to never expire)
				</td>
			</tr> 
			<tr>
				<td>
				</td>
				<td colspan=2>
					<div id="post" class="green_bg">
						Go Live
					</div>
				</td>
				<td colspan=2>
					<div id="cancel" class="red_bg white_txt">
						Cancel
					</div>
				</td>
				<td colspan=2>
				</td>
		</table>
		
	</body>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="/static/script/datetimepicker/jquery.datetimepicker.js"></script>
	<script src="/static/script/alertBannerSettings.js"></script>
</html>