<div class="billboard-container">
<img class="billboard-image" src="/static/image/billboard-home.png" />
<div class="billboard-content">
<h2>Music Lessons</h2>
<br />
<p>Rocketeria provides a selection of instructional choices to fit your aspirations, schedule and budget.</p>
<br />
<a class="billboard-link btn-submit-yellow" href="#">Learn more ></a>
</div>
</div>
<div class="home-newsletter">
<div class="newsletter-signup">
<h3>Sign up for our Newsletter</h3>
<form id="billboard-newsletter-signup" method="GET" name="newsletter" action="javascript:void(0);">

<input name="email" class="newsletter-email" type="email" required="required" value="ENTER EMAIL"><br />
<input class="btn-submit-yellow newsletter-submit" type="submit" value="SUBMIT >"></a><br />

</form>
<p class="newsletter-tag">No spam, just rock</p>
</div>
<div class="newsletter-social">
<h3>Social</h3>
<a href="#"><input type="button" class="btn-facebook-red" /></a>
<a href="#"><input type="button" class="btn-twitter-red" /></a>
<a href="#"><input type="button" class="btn-instagram-red" /></a>
<a href="#"><input type="button" class="btn-youtube-red" /></a>
</div>
</div>
<div class="clear"></div>
<img class="separator" src="/static/image/separator.png" width="960px" height="16px" />
<div class="home-bottom">
<div class="home-store">
<a href="#"><h3>Store ></h3></a>
<p>Guitars &bull; Amps<br />
Strings &bull; Accessories</p>
</div>
<div class="home-lessons">
<a href="#"><h3>Lessons ></h3></a>
<p>Guitar &bull; Piano &bull; Drums<br />
Violin &bull; Cello</p>
</div>
<div class="clear"></div>
<div class="home-rentals">
<a href="#"><h3>Rentals ></h3></a>
<p>Band &amp; Orchestra</p>
</div>
<div class="home-events">
<a href="#"><h3>Events ></h3></a>
<p>Rock The Lot <br />
Friday Night Live Series</p>
</div>
<div class="home-testimonials">
<a href="#"><h3>Testimonials</h3></a>
<p>"Thank you so much Rocketeria for being there and having people on your staff who take the time to make young people in America great again."</p><br />
<p>&minus; Trent 0.</p>
</div>
</div><!--End of .home-bottom -->