<div id="sidebar">
<div class="newsletter-side">
<div class="newsletter-signup">
<h3>Sign up for our Newsletter</h3>
<form id="billboard-newsletter-signup" method="GET" name="newsletter" action="javascript:void(0);">
<!-- 
	HTTP GET to /api-proxy-pub provides links for things someone *might* have submitted a form for.
	This is an awk. way to handle noscript cases. To be remedied in future enhancements.
-->
<input name="email" class="newsletter-email" type="email" required="required" value="ENTER EMAIL"><br />
<input class="btn-submit-yellow newsletter-submit" type="submit" value="SUBMIT >"></a><br />
</form>
<p class="newsletter-tag">No spam, just rock</p>
</div>
<div class="newsletter-social">
<h3>Social</h3>
<a href="https://www.facebook.com/rocketeria"><input type="button" class="btn-facebook-red" /></a>
<a href="https://twitter.com/therocketeria"><input type="button" class="btn-twitter-red" /></a>
<a href="http://instagram.com/therocketeria"><input type="button" class="btn-instagram-red" /></a>
<a href="https://www.youtube.com/user/TheRocketeria"><input type="button" class="btn-youtube-red" /></a>
</div>
</div>
<div class="testimonials-side">
<a href="/testimonials"><h3>Testimonials</h3></a>
<p class="home-testimonials-content">"{random_quote}"</p>
</div>
</div><!--End of #sidebar -->