<div id="header-sub">
<img class="bg-header-sub" src="/static/image/header-green.png" width="705px" height="82px"/>
<h1>Enroll</h1>
</div><!-- /header-sub -->
<div id="content_sub">
<style>
	.comment {{
		width: 100%;
		background-color:#f7bd20;
	}}
	.comment p :hover {{
		cursor: pointer;
	}}
	.comment textarea {{
		width: 99%;
		resize: none;
		font-family: 'Quicksandregular', sans-serif;
	}}
	.headingicon img {{
		height: 1em;
		vertical-align: middle;
	}}
	.labels {{
		display: inline-block;
		width: 30%;
		text-align: right;
		text-decoration: none !important;
	}}
	.inputs {{
		display: inline-block;
		text-align: left;
	}}
	.validators {{
		display: inline-block;
		text-align: right;
		padding-left: 12px;
		width: 20px;
	}}
	.form-input {{
		text-align: left;
		border-left: 2px solid #ccc;
	}}
	input[type="text"].form-input, input[type="email"].form-input, select.form-input {{
		width: 130%;
		font-size: 1.1em;
	}}
	.template {{
		display: none;
	}}
	td.program {{
		padding-left: 24px;
	}}
	.comment {{
		width: 100%;
		background-color:#f7bd20;
	}}
	.comment p :hover {{
		cursor: pointer;
	}}
	.comment textarea {{
		width: 99%;
		resize: none;
		font-family: 'Quicksandregular', sans-serif;
		font-size: 1.1em;
	}}
	.comment img {{
		vertical-align: middle;
		margin-top: -2px;
		height: 1em;
	}}
	.larger {{
		font-size: 1.1em;
	}}
	.gray {{
		color: #ccc !important;
	}}
	#submit_ok {{
		height: 185px;
	}}
	#submit_ok_thanks {{
		height: 97px;
	}}
	#social_pointer {{
		line-height: 85px !important;
		background: #04bde5;
		color: #fff;
		font-size: 1.4em;
		font-weight: bold;
		text-align: center;
	}}
	.policies {{
		height: 80px;
	}}
	.release_table_box {{
		text-align: right;
		width: 20%;
	}}
	.release_table_label{{

	}}

</style>
<div id="hide_on_submit">
<form id="enroll" method="post" action="/sendmail/enroll" accept-charset="utf-8">
<big>Ready to take the plunge?</big>
<br/><br/><p>Submit the questionnaire below and we&#39;ll be in touch shortly. Enter however much information you care to provide - only the first section, <i>Bill To</i>, is required.</p>
<br/>
<p>Submitting this form does not constitute a commitment to enroll.</p>
<br/>
<p>
<table border="0" cellpadding="1" cellspacing="0" style="width:100%" class="larger">
	<tbody>
		<tr>
			<td style="background-color: rgb(150, 35, 31);"><big><strong><span style="color:#FFFFFF" id="billto_heading">&#160;Bill To</span></strong></big></td>
		</tr>
		<tr>
			<td>
				<br/>
				<p class="labels">First &amp; Last Name</p><p class="validators">&#9642;</p><p class="inputs"><input type="text" class="form-input" name="billto_firstandlast"/></p><br/>
				<p class="labels">Email</p><p class="validators">&#9642;</p><p class="inputs"><input type="email" class="form-input" name="billto_email"/></p><br/>
				<p class="labels"></p><p class="validators"></p><p class="inputs" style="font-size: 0.85em; text-align: right;"> &nbsp; &nbsp; &nbsp;<input type="checkbox" class="form-input" name="billto_wants_newsletter"/> &nbsp;I&#39;d like to receive your newsletter</p><br/>
				<p class="labels">Mobile Phone</p><p class="validators">&#9642;</p><p class="inputs"><input type="text" class="form-input" name="billto_mobilephone"/></p><br/>
				<p class="labels">Alt Phone</p><p class="validators">&#9643;</p><p class="inputs"><input type="text" class="form-input" name="billto_altphone"/></p><br/>
				<p class="labels">Address</p><p class="validators">&#9642;</p><p class="inputs"><input type="text" class="form-input" name="billto_address1"/></p><br/>
				<p class="labels">&nbsp;</p><p class="validators"></p><p class="inputs"><input type="text" class="form-input" name="billto_address2"/></p><br/>
				<br/>
				<br/>
				</td>
			</td>
		</tr>
		<tr>
			<td style="background-color: rgb(151, 2, 183);"><big><strong><span style="color:#FFFFFF">&#160;Student</span></strong></big></td>
		</tr>
		<tr>
			<td>
				<br/>
					<table border="0" cellpadding="1" cellspacing="0" style="width:100%;">
					<tbody>
						<tr>
							<td rowspan=3 style="text-align:right; width:30%;">Same as <i>Bill To</i>?</td>
						</tr>
						<tr>
							<td rowspan=3 style="width:22px;"></td>
						</tr>
						<tr>
							<td class="program"><input type="checkbox" id="student_same_as_bill_to" name="student_same_as_bill_to" value="yes"> Yes</td>
						</tr>
					</tbody>
				</table>
				<br/>
				<div id="student1" 
					<br/>
					<p class="labels">First &amp; Last Name</p><p class="validators">&#9643;</p><p class="inputs"><input type="text" class="form-input" name="student1_firstandlast"/></p><br/>
					<p class="labels">Email</p><p class="validators">&#9643;</p><p class="inputs"><input type="text" class="form-input" name="student1_email"/></p><br/>
					<p class="labels">Mobile Phone</p><p class="validators">&#9643;</p><p class="inputs"><input type="text" class="form-input" name="student1_mobilephone"/></p><br/>
					<p class="labels">Alt Phone</p><p class="validators">&#9643;</p><p class="inputs"><input type="text" class="form-input" name="student1_altphone"/></p><br/>
					<p class="labels">School</p><p class="validators">&#9643;</p><p class="inputs"><input type="text" class="form-input" name="student1_school"/></p><br/>
					<p class="labels">Grade</p><p class="validators">&#9643;</p><p class="inputs">
					<select class="form-input" name="student1_grade">
						<option value="" selected="selected"></option>
						<option value="Adult">Adult</option>
						<option value="Pre-K">Pre-K</option>
						<option value="1st">1st</option>
						<option value="2nd">2nd</option>
						<option value="3rd">3rd</option>
						<option value="4th">4th</option>
						<option value="5th">5th</option>
						<option value="6th">6th</option>
						<option value="7th">7th</option>
						<option value="8th">8th</option>
						<option value="9th">9th</option>
						<option value="10th">10th</option>
						<option value="11th">11th</option>
						<option value="12th">12th</option>
					</select>
					</p><br/>
				</div>
				<br/>
				<div id="student2" class="template">
					<br/>
					<p class="labels">First &amp; Last Name</p><p class="validators">&#9643;</p><p class="inputs"><input type="text" class="form-input" name="student2_firstandlast"/></p><br/>
					<p class="labels">Email</p><p class="validators">&#9643;</p><p class="inputs"><input type="text" class="form-input" name="student2_email"/></p><br/>
					<p class="labels">Mobile Phone</p><p class="validators">&#9643;</p><p class="inputs"><input type="text" class="form-input" name="student2_mobilephone"/></p><br/>
					<p class="labels">Alt Phone</p><p class="validators">&#9643;</p><p class="inputs"><input type="text" class="form-input" name="student2_altphone"/></p><br/>
					<p class="labels">School</p><p class="validators">&#9643;</p><p class="inputs"><input type="text" class="form-input" name="student2_school"/></p><br/>
					<p class="labels">Grade</p><p class="validators">&#9643;</p><p class="inputs">
					<select class="form-input" name="student2_grade">
						<option value="-" selected="selected"></option>
						<option value="Adult">Adult</option>
						<option value="Pre-K">Pre-K</option>
						<option value="1st">1st</option>
						<option value="2nd">2nd</option>
						<option value="3rd">3rd</option>
						<option value="4th">4th</option>
						<option value="5th">5th</option>
						<option value="6th">6th</option>
						<option value="7th">7th</option>
						<option value="8th">8th</option>
						<option value="9th">9th</option>
						<option value="10th">10th</option>
						<option value="11th">11th</option>
						<option value="12th">12th</option>
					</select>
					</p><br/>
					<br/>
				</div>
				<br/>
				<div id="student3" class="template" style="display:none;">
					<br/>
					<p class="labels">First &amp; Last Name</p><p class="validators">&#9643;</p><p class="inputs"><input type="text" class="form-input" name="student3_firstandlast"/></p><br/>
					<p class="labels">Email</p><p class="validators">&#9643;</p><p class="inputs"><input type="text" class="form-input" name="student3_email"/></p><br/>
					<p class="labels">Mobile Phone</p><p class="validators">&#9643;</p><p class="inputs"><input type="text" class="form-input" name="student3_mobilephone"/></p><br/>
					<p class="labels">Alt Phone</p><p class="validators">&#9643;</p><p class="inputs"><input type="text" class="form-input" name="student3_altphone"/></p><br/>
					<p class="labels">School</p><p class="validators">&#9643;</p><p class="inputs"><input type="text" class="form-input" name="student3_school"/></p><br/>
					<p class="labels">Grade</p><p class="validators">&#9643;</p><p class="inputs">
					<select class="form-input" name="student3_grade">
						<option value="-" selected="selected"></option>
						<option value="Adult">Adult</option>
						<option value="Pre-K">Pre-K</option>
						<option value="1st">1st</option>
						<option value="2nd">2nd</option>
						<option value="3rd">3rd</option>
						<option value="4th">4th</option>
						<option value="5th">5th</option>
						<option value="6th">6th</option>
						<option value="7th">7th</option>
						<option value="8th">8th</option>
						<option value="9th">9th</option>
						<option value="10th">10th</option>
						<option value="11th">11th</option>
						<option value="12th">12th</option>
					</select>
					</p><br/>
					<br/>
				</div>
				<p class="labels">
				<a href="" style="color: rgb(151, 2, 183); text-decoration: none;" id="add_student" onclick="return false;"><strong>&#x2795;&nbsp;&nbsp;add another</strong></a>
				</p>
				<br/>
				<br/>
			</td>
		</tr>
		<tr>
			<td style="background-color: rgb(88, 163, 38);"><big><strong><span style="color:#FFFFFF">&#160;Programs</span></strong></big></td>
		</tr>
		<tr>
			<td>
				<br/>
				<table border="0" cellpadding="1" cellspacing="0" style="width:100%;">
					<tbody>
						<tr>
							<td rowspan=3 style="text-align:right; width:30%;">Environment</td>
						</tr>
						<tr>
							<td rowspan=3 style="width:22px; border-right:1px solid #0f0403;"></td>
						</tr>
						<tr>
							<td class="program"><input type="checkbox" name="environment" value="private"> <strong>Private</strong></td>
							<td class="program"><input type="checkbox" name="environment" value="group"> Group</td>
							<td class="program"><input type="checkbox" name="environment" value="jam"> Jam</td>
						</tr>
					</tbody>
				</table>
				<br/>
				<table border="0" cellpadding="1" cellspacing="0" style="width:100%;">
					<tbody>
						<tr>
							<td rowspan=6 style="text-align:right; width:30%;">Instruments</td>
						</tr>
						<tr>
							<td rowspan=6 style="width:22px; border-right:1px solid #0f0403;"></td>
						</tr>
						<tr>
							<td class="program"><input type="checkbox" name="instrument" value="guitar"> Guitar</td>
							<td class="program"><input type="checkbox" name="instrument" value="voice"> Voice</td>
							<td class="program"><input type="checkbox" name="instrument" value="tenor banjo"> Tenor Banjo</td>
						</tr>
						<tr>
							<td class="program"><input type="checkbox" name="instrument" value="bass"> Bass</td>
							<td class="program"><input type="checkbox" name="instrument" value="alto sax"> Alto Sax</td>
							<td class="program"><input type="checkbox" name="instrument" value="mandolin"> Mandolin</td>
						</tr>
						<tr>
							<td class="program"><input type="checkbox" name="instrument" value="piano"> Piano</td>
							<td class="program"><input type="checkbox" name="instrument" value="trumpet"> Trumpet</td>
							<td class="program"><input type="checkbox" name="instrument" value="ukulele"> Ukulele</td>
						</tr>
						<tr>
							<td class="program"><input type="checkbox" name="instrument" value="drums"> Drums</td>
							<td class="program"><input type="checkbox" name="instrument" value="clarinet"> Clarinet</td>
							<td class="program">&nbsp;</td>
						</tr>
					</tbody>
				</table>
				<br/>
				<table border="0" cellpadding="1" cellspacing="0" style="width:100%;">
					<tbody>
						<tr>
							<td rowspan=3 style="text-align:right; width:30%;">Skill Level</td>
						</tr>
						<tr>
							<td rowspan=3 style="width:22px; border-right:1px solid #0f0403;"></td>
						</tr>
						<tr>
							<td class="program"><input type="checkbox" name="expertise" value="beginner"> Beginner</td>
							<td class="program"><input type="checkbox" name="expertise" value="intermediate"> Intermediate</td>
							<td class="program"><input type="checkbox" name="expertise" value="advanced"> Advanced</td>
						</tr>
					</tbody>
				</table>
				<br/>
				<table border="0" cellpadding="1" cellspacing="0" style="width:100%;">
					<tbody>
						<tr>
							<td rowspan=5 style="text-align:right; width:30%;">Teachers</td>
						</tr>
						<tr>
							<td rowspan=5 style="width:22px; border-right:1px solid #0f0403;"></td>
						</tr>
						<tr>
							<td class="program"><input type="checkbox" name="teacher" value="any"> <strong>Any</strong></td>
							<td class="program"><input type="checkbox" name="teacher" value="allan y"> Allan Y.</td>
							<td class="program"><input type="checkbox" name="teacher" value="brian w"> Brian W.</td>
						</tr>
						<tr>
							<td class="program"><input type="checkbox" name="teacher" value="chris c"> Chris C.</td>
							<td class="program"><input type="checkbox" name="teacher" value="dave p"> Dave P.</td>
							<td class="program"><input type="checkbox" name="teacher" value="geoff e"> Geoff E.</td>
						</tr>
						<tr>
							<td class="program"><input type="checkbox" name="teacher" value="greg e"> Greg E.</td>
							<td class="program"><input type="checkbox" name="teacher" value="kris f"> Kris F.</td>
							<td class="program"><input type="checkbox" name="teacher" value="luke s"> Luke S.</td>
						</tr>
					</tbody>
				</table>
				<br/>
			</td>
		</tr>
		<tr>
			<td style="background-color: rgb(4, 189, 229);">&#160;<big><strong><span style="color:#FFFFFF">&#160;Schedule</span></strong></big></td>
		</tr>
		<tr>
			<td>
				<br/>
				<table border="0" cellpadding="1" cellspacing="0" style="width:100%;">
					<tbody>
						<tr>
							<td rowspan=3 style="text-align:right; width:30%;">Recurrence</td>
						</tr>
						<tr>
							<td rowspan=3 style="width:22px; border-right:1px solid #0f0403;"></td>
						</tr>
						<tr>
							<td class="program">
								<input type="radio" name="recurrence" value="weekly"> <strong>Weekly</strong><br/>
								<input type="radio" name="recurrence" value="intermittently"> Intermittently<br/>
								<input type="radio" name="recurrence" value="just one session"> Just One Session<br/>
							</td>
						</tr>
					</tbody>
				</table>
				<br/>
				<table border="0" cellpadding="1" cellspacing="0" style="width:100%;">
					<tbody>
						<tr>
							<td rowspan=5 style="text-align:right; width:30%;">Day of Week</td>
						</tr>
						<tr>
							<td rowspan=4 style="width:22px; border-right:1px solid #0f0403;"></td>
						</tr>
						<tr>
							<td class="program"><input type="checkbox" name="day_of_week" value="mondays"> Mondays</td>
							<td class="program"><input type="checkbox" name="day_of_week" value="thursdays"> Thursdays</td>
						</tr>
						<tr>
							<td class="program"><input type="checkbox" name="day_of_week" value="tuesdays"> Tuesdays</td>
							<td class="program"><input type="checkbox" name="day_of_week" value="fridays"> Fridays</td>
						</tr>
						<tr>
							<td class="program"><input type="checkbox" name="day_of_week" value="wednesdays"> Wednesdays</td>
							<td class="program"><input type="checkbox" name="day_of_week" value="saturdays"> Saturdays</td>
						</tr>
					</tbody>
				</table>
				<br/>
				<table border="0" cellpadding="1" cellspacing="0" style="width:100%;">
					<tbody>
						<tr>
							<td rowspan=7 style="text-align:right; width:30%;">Time Range</td>
						</tr>
						<tr>
							<td rowspan=7 style="width:22px; border-right:1px solid #0f0403;"></td>
						</tr>
						<tr>
							<td class="program"><input type="checkbox" name="time_range" value="10 am - 12 pm"> 10 am - 12 pm - Sat Only</td>
						</tr>
						<tr>
							<td class="program"><input type="checkbox" name="time_range" value="12:30 pm - 1:30 pm"> 12:30 pm - 1:30 pm - Sat Only</td>
						</tr>
						<tr>
							<td class="program"><input type="checkbox" name="time_range" value="2 pm - 3:30 pm"> 2 pm - 3:30 pm - M T W Th F S</td>
						</tr>
						<tr>
							<td class="program"><input type="checkbox" name="time_range" value="4 pm - 6:30 pm"> 4 pm - 6:30 pm - M T W Th F</td>
						</tr>
						<tr>
							<td class="program"><input type="checkbox" name="time_range" value="7 pm - 8:30 pm"> 7 pm - 8:30 pm - M T W Th F</td>
						</tr>
					</tbody>
				</table>
				<br/>
				<div class="comment">
					<p><b>&nbsp;<img src="/static/image/note.png"/>&nbsp;Add a note</b> (optional)</p>
					<textarea id="comment1" name="comment1"></textarea>
				</div>
				<br/>
				<hr/>
				<br/>
				<table border="0" cellpadding="1" cellspacing="0" style="width:100%;">
					<tbody>
						<tr>
							<td colspan=3>
								<p>&quot;I give permission for Rocketeria to use photos and videos of the above student(s), captioned with a first name and last initial, in the following ways: &quot;</p>
							</td>
						</tr>
						<tr>
							<td class="release_table_box">
								<input type="checkbox" id="photo_release_website" value="Rocketeria Websites" name="photo_release" />
							</td>
							<td class="release_table_label">
								<label for="photo_release_website"> On Rocketeria's websites</label>
							</td>
							<td class="release_table_eg">
								[<a href="/events/rockstravaganza" target="_blank">example</a>]
							</td>
						</tr>
						<tr>
							<td class="release_table_box">
								<input type="checkbox" id="photo_release_social" value="Social Media Feeds" name="photo_release" />
							</td>
							<td class="release_table_label">
								<label for="photo_release_social"> On social media feeds</label>
							</td>
							<td class="release_table_eg">
								[<a href="https://www.facebook.com/rocketeria/photos/pb.19564590886.-2207520000.1409755099./10152198626070887/?type=3&theater" target="_blank">example</a>]
							</td>
						</tr>
						<tr>
							<td class="release_table_box">
								<input type="checkbox" id="photo_release_lit" name="photo_release" value="Distributed Literature "/>
							</td>
							<td class="release_table_label">
								<label for="photo_release_lit"> In distributed literature including email</label>
							</td>
							<td class="release_table_eg">
							</td>
						</tr>
					</tbody>
				</table>
				<br/> 
				<hr/>
				<br/>
				<table border="0" cellpadding="1" cellspacing="0" style="width:100%;">
					<tbody>
						<tr>
							<td rowspan=3 class="policy_checkbox" style="text-align:right; width:30%;">
								<input type="checkbox" id="read_policies" name="read_policies" />
							</td>
						</tr>
						<tr>
							<td rowspan=3 class="policy_checkbox" style="width:22px; border-right:1px solid #0f0403;">
							</td>
						</tr>
						<tr>
							<td class="policy_checkbox" style="padding-left: 20px;">
								<label for="read_policies">&quot;I have read and agree to abide by Rocketeria&#39;s <a href="/lessons/policies" target="_blank">Music Lessons Policies</a>&quot;</label>
							</td>
						</tr>
					</tbody>
				</table>
				</div>
				<br/>
				<p style="text-align:center;">
				<input class="btn animate enrollsubmit" style="background-color:#58a326" type="submit" value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SUBMIT &gt;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" onclick="unhighlightInputs('enroll'); validateEnroll(); return false;"><!-- noscript-compat -->
				<br/>
				</p>
			</td>
		</tr>
	</tbody>
</table>
</p>
</form>
</div>
<div id="submit_ok" style="display:none;">
<div id="submit_ok_thanks">
<h2>Thanks!</h2>
<p>
We&#39;ll be in touch.
</p>
</div>

<p id="social_pointer">
 >>> STAY IN TOUCH WITH US >>> 
</p>

</div>
<div id="submit_fail" style="display:none;">
<h2>Houston, we have a problem</h2>
<p>
Something went wrong and we likely did not receive your change request. Refresh this page and try again, or <a href="/contact">contact us</a> via phone or email while we get this sorted out.
</p>
</div>
</div> <!-- /content_sub -->

<script src="/static/script/enroll.js"></script>