<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">

<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 11)|!(IE)]><!--> <html> <!--<![endif]-->


<head>

<script>
    if (document.documentMode===10){
        document.documentElement.className+=' ie10';
    }
    else if (document.documentMode===11){
        document.documentElement.className+=' ie11';
    }
</script>
<title>Welcome to Rocketeria.biz!</title>
<link href="fonts/stylesheet.css" type="text/css" rel="stylesheet">
<link href="styles/rocketeria.css" type="text/css" rel="stylesheet">
</head>
<body>
<div id="page-wrapper">
<div id="header">
<h1>ROCKETERIA</h1>
</div>
<div id="nav-wrapper">
<ul id="nav-contents">
<li><a href="#">Lessons</a></li>
<li><a href="#">Store</a></li>
<li><a href="#">Rentals</a></li>
<li><a href="#">Repairs</a></li>
<li><a href="#">Events</a></li>
<li><a href="#">About</a></li>
<li><a href="#">Contact</a></li>
</ul>
</div>
<div class="clear"></div>
<div id="main">
{shell_filler}
</div><!--End of #main -->
</div><!--End of #page-wrapper --> 
<div id="footer">
<div class="footer-nav">
<h3>Navigation</h3>
<ul>
<li><a href="#">About</a></li>
<li><a href="#">Home</a></li>
<li><a href="#">Store</a></li>
<li><a href="#">Rentals</a></li>
<li><a href="#">Repairs</a></li>
<li><a href="#">Events</a></li>
<li><a href="#">Contact</a></li>
</ul>
</div>
<div class="footer-newsletter">
<h3>Sign Up For Our Newsletter</h3>
<input class="newsletter-email" type="email" value="ENTER EMAIL">
<input class="btn-submit-red footer-newsletter-submit" type="submit" value="SUBMIT >">
</div>
<div class="footer-social">
<h3>Social</h3>
<a href="#"><input type="button" class="btn-facebook-black" /></a>
<a href="#"><input type="button" class="btn-twitter-black" /></a>
<a href="#"><input type="button" class="btn-instagram-black" /></a>
<a href="#"><input type="button" class="btn-youtube-black" /></a>
</div>
</div><!--End #footer -->
</body>
</html>
