<div id="openidauth">
	{openid_auth}
	{auth_links}
	<p>
		<b>What is this?</b> By linking your use of this site with one of the above sites, you (the customer) are 
relieved of needing to remember yet another username and psssword, and we (the web site operators) are 
revlieved of having to manage and secure usernames and passwords ourselves. It's safer and easier for everyone. The service that you choose to link with us will share only your email address - we can't see any other
info or use your account in any way.
	</p>
</div>