		<div id="left">
			<p>Presumably, some content.</p>
			<p>Content.</p>
			<p>COOOOOOOOOOOOOOOOOOOOOOONTENT!!!!!!1!<p>
			<a href="/lessons/book">BOOK A LESSON RIGHT NOW WOW!!!1!</a>
		</div>
		<div id="right">
			<div id="openidauth">
				{openid_auth}
				{auth_links}
			</div>
			<br/><br/>
			<br/>This is the right side of the page and it is super cool unlike that stupid left side.
			<br/>This is the right side of the page and it is super cool unlike that stupid left side.
			<br/>This is the right side of the page and it is super cool unlike that stupid left side.
		</div>
