<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html style="height: 100%;">
<head>
	<link rel="stylesheet" type="text/css" media="all" href="/static/style/rocketeria.css"/>
	<link rel="stylesheet" type="text/css" media="all" href="/static/style/calendar.css"/>
	<link type="text/css" href="http://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<meta name="googlebot" content="noarchive" />
	<title>Lessons :: Rocketeria</title>
</head>
<body style="background-color: #333;" class="gradiant">
	<!--[if gte IE 9]>
		<style type="text/css">
		.gradient {
			filter: none;
		}
		</style>
	<![endif]-->

	<div class="general message">		
		<div id="header">			
			<!--<h1 id="logo-text">ROCKETERIA</h1>-->
			<img src="/static/style/rock_logo_word.png" />
		</div>	
	</div>	
	<div id="menu">		
		<ul>			
			<li>
				<li><a href="/lessons">LESSONS</a>
			</li>			
			<li>				
				<a href="#">STORE</a>			
			</li>			
			<li>				
				<a href="#">RENTALS</a>			
			</li>			
			<li>				
				<a href="#">REPAIRS</a>			
			</li>			
			<li>				
				<a href="#">EVENTS</a>			
			</li>			
			<li>				
				<a href="#">ABOUT</a>			
			</li>
			<li>				
				<a href="#">CONTACT</a>			
			</li>	
	</div>	
	<div id="main">	
